:root {
  --mui-palette-text-primary: rgba(58, 53, 65, 0.87);
  --mui-palette-text-secondary: rgba(58, 53, 65, 0.68);
  --mui-palette-text-disabled: rgba(58, 53, 65, 0.38);
  --mui-palette-primary-main: #696CFF;
  --mui-palette-error-main: #FF3E1D;
  --mui-palette-background-paper: #FFFFFF;
  --mui-palette-action-hover: rgba(58, 53, 65, 0.04);
  --mui-palette-action-selected: rgba(58, 53, 65, 0.08);
  --mui-palette-customColors-inputBorder: rgba(58, 53, 65, 0.22);
  --mui-palette-action-active: rgba(58, 53, 65, 0.54);
  --mui-customShadows-primary-sm: 0 2px 4px rgba(105, 108, 255, 0.2);
  --mui-shape-borderRadius: 8px;
}

[data-mode='dark'] {
  --mui-palette-text-primary: rgba(231, 227, 252, 0.87);
  --mui-palette-text-secondary: rgba(231, 227, 252, 0.68);
  --mui-palette-text-disabled: rgba(231, 227, 252, 0.38);
  --mui-palette-background-paper: #312D4B;
  --mui-palette-action-hover: rgba(231, 227, 252, 0.04);
  --mui-palette-action-selected: rgba(231, 227, 252, 0.08);
  --mui-palette-customColors-inputBorder: rgba(231, 227, 252, 0.22);
  --mui-palette-action-active: rgba(231, 227, 252, 0.54);
}

